#image{
    width: 500px;
    height: 300px;
    border:3px solid black;
    text-align:center;
    line-height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin:20px;
    margin-left:300px;
}
.thumb {
width: 350px;
height: 350px;
border: 1px solid black;
margin: 5px;
}
.galery{
    display:flex;
}